body {
    font-family: 'Roboto', sans-serif;
}

#main-container {
    margin: auto;
    padding-top: 3%;
    width: 75%;
    /* background-color: aqua; */
}

#instructions, #reset {
    font-style: italic;
    font-weight: bold;
    font-size: 1.5vw;
}

#reset {
    transition: transform 0.5s;
}

#reset:hover {
    transform: scale(1.02);
    color: rgb(112, 112, 112);
    cursor: pointer;
}

.column {
    float: left;
}

.left {
    width: 25%;
}

.right {
    width: 75%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#options {
    text-align: center;
    margin-bottom: 1vw;
}

img {
    background: transparent;
    background-color: transparent;
    width: 20%;
    height: auto;
    cursor: pointer;
    margin: 1vw 3vw;
    transition: transform 0.5s;
}

img:hover {
    transform: scale(1.15); 
}

h3, #reset {
    font-size: 1.75vw;
}