body, #toggle {
    font-family: 'Roboto', sans-serif;
}

.dark-mode {
    background-color: #2e3436;
    color: #ebeaea;
}

#main-container {
    margin: auto;
    padding-top: 7%;
    width: 70%;
}

#instructions, #reset {
    font-style: italic;
    font-weight: bold;
    font-size: 1.4vw;
}

#reset {
    transition: transform 0.5s;
}

#reset:hover {
    transform: scale(1.02);
    color: rgb(112, 112, 112);
    cursor: pointer;
}

.column {
    float: left;
}

#heading {
    width: 85%;
}

#toggle {
    float: right;
    width: 15%;
    background-color: ghostwhite;
    border-color: transparent;
    border-radius: 20px;
    padding: 0.6vw;
    cursor: pointer;
    text-align: center;
    font-size: 1.1vw;
}

#toggle:hover {
    background-color: rgb(231, 231, 231);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.left {
    width: 35%;
}

.right {
    width: 65%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#options {
    text-align: center;
    margin-bottom: 1vw;
}

img {
    background: transparent;
    background-color: transparent;
    width: 20%;
    height: auto;
    cursor: pointer;
    margin: 1vw 3vw;
    transition: transform 0.5s;
}

img:hover {
    transform: scale(1.15); 
}

h3, #reset {
    font-size: 1.6vw;
}